/* ############################## */
/* Typography */
/* ############################## */

body { 
	background: #fff url(header_bg.gif) repeat-x center top; 
	color: #000; 
	padding: 10px; 
	margin: 0px; 
}
body, th, td {
 font: normal 13px Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
}
h1, h2, h3, h4 {
 font-family: Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
 font-weight: bold;
 letter-spacing: -0.018em;
 page-break-after: avoid;
}
h1 { font-size: 19px; margin: .15em 1em 0.5em 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }
img { border: none }
tt { white-space: pre }

/* Link styles */
:link, :visited {
 text-decoration: underline;
 color: #0079e2;
 /*border-bottom: 1px dotted #bbb;*/
}
:link:hover, :visited:hover { text-decoration: none; color: blue }
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
 color: inherit;
}

a.menu {
	color: #0079E2;
}

td.menu {
	padding-left: 0;
}

.left {
	font-size: 10px;
}


/* ############################## */
/* Layout */
/* ############################## */

.left {
	clear: left;
	float: left;
	width: 200px;
	border-right: 1px solid #aaa;
	overflow: hidden;
}

.right {
	margin-left: 210px;
}

.right ul.packages li {
	font-size: 18px;
	padding: 10px;
}

#header {}

	#header #logo {
		float: left;
	}

	#header ul.releases,
	#header ul.packages {
		float: right;
		margin-top: 0;
	}

ul.horizontal {
	list-style: none;
	padding-left: 0;
}

	ul.horizontal li {
		float: left;
		margin-right: 5px;
	}
	
	ul.horizontal li.current {
		font-weight: bold;
	}

/* ############################## */
/* Content */
/* ############################## */

ul.versionList {
	list-style: none;
	padding-left: 0;
}

	ul.versionList li {
		margin-left: 0;
		padding-left: 0;
	}
	
	ul.versionList li a {
		display: block;
		margin-bottom: 10px;
		padding: 20px;
		border: 1px solid #aaa;
		background: #eee;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		font-size: 14px;
		font-weight: bold;
	}
	
.class-list-container ul,
.file-list-container ul {
	list-style: none;
	padding-left: 0;
}
	
div.row {
	clear: both;
}

.left h3,
.left h4 {
	margin-bottom: 0;
}