<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On

    # Symlink to 4 index.html
    RewriteCond %{REQUEST_URI} ^(.*)$ [NC]
    RewriteRule ^/?$ %14/index.html [R=302,L]

    # Serve docs in htdocs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} .* [NC]
    RewriteRule ^(.*)$ htdocs/$1

    ErrorDocument 404 errors/404.html
</IfModule>
