<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On


    ### =============== Legacy redirects ===============

    # Redirect to major version only (not minor)
    RewriteCond %{REQUEST_URI} ^(.*)en/([\d]+)\.[\w.]+/(.*)$ [NC]
    RewriteRule ^(.*)$ %1en/%2/%3 [L,R=302]

    # 2.x no longer exists
    RewriteCond %{REQUEST_URI} ^(.*)en/2.* [NC]
    RewriteRule ^(.*)$ %1 [L,R=302]

    # Packages no longer exist
    RewriteCond %{REQUEST_URI} ^(.*)en/[\w.]+/package-.*\.html [NC]
    RewriteRule ^(.*)$ %1 [L,R=302]

    # Class redirect. E.g.
    # /en/4/class-SilverStripe.AssetAdmin.Forms.FileSearchFormFactory.html
    # /4/SilverStripe/AssetAdmin/Forms/FileSearchFormFactory.html
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3.html [L,R=302]
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3/%4.html [L,R=302]
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.([\w]+)\.([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3/%4/%5.html [L,R=302]
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3/%4/%5/%6.html [L,R=302]
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3/%4/%5/%6/%7.html [L,R=302]
    RewriteCond %{REQUEST_URI} ^(.*)en/([\w.]+)/class-([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.([\w]+)\.html [NC]
    RewriteRule ^(.*)$ %1%2/%3/%4/%5/%6/%7/%8.html [L,R=302]

    ### ============= End Legacy redirects =============

    # Lookup script (used to be a SS app, now just a simple script)
    # E.g. http://api.silverstripe.org.loc/search/lookup/?q=SilverStripe\ORM\HasManyList&version=4&module=framework
    RewriteCond %{REQUEST_URI} ^(.*)search/lookup [NC]
    RewriteRule ^/?search/lookup(/|$) %1search/lookup.php [L,R=302,QSA]

    # Symlink to 4 index.html
    RewriteCond %{REQUEST_URI} ^(.*)$ [NC]
    RewriteRule ^/?$ %14/index.html [R=302,L]

    # Serve docs in htdocs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} .* [NC]
    RewriteRule ^(.*)$ htdocs/$1

    # 404 handling
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* errors/404.html
</IfModule>
