/* ######################################## */
/* Layout */
/* ######################################## */

body {
	background:url(bg.gif) repeat-x top center;
  margin-top: 0;
  padding-top: 10px;
}             

#Header {
	clear: left;
	overflow: auto;
	margin-bottom: 15px;
}   

	#Logo {
		float: left;
	}    
	
	#Logo h1 {
		border: none;   
		color: #666;
	}           
	  
		#Logo h1 a,
		#Logo h1 a:link,
		#Logo h1 a:hover, 
		#Logo h1 a:active {
			display: block;
			width: 200px;
			padding-top: 35px;
			background:url(ss_logo.gif) no-repeat top left;
			color: #666;    
			text-decoration: none;
		}
		
#Search {
	float: right;
}

#Footer {         
	border-top: 1px solid #aaa; 
	margin-top: 20px;   
	padding-top: 10px;
	padding-bottom: 40px;
}      

	#Footer a img {
	    opacity: 0.5;
	    border:0
	}

	#Footer a:hover img {
	    opacity: 1;
	}
	
	#Comments {
		margin-top: 10em;
	}                  
	

/* ######################################## */
/* Typography */
/* ######################################## */

body, th, td {
 font: normal 13px 'Bitstream Vera Sans',Helvetica, Arial, sans-serif;
}
h1 { 
	font-size: 19px; 
	margin: .15em 1em 0.5em 0 
}
h2 { 
	font-size: 16px 
}
h3 { 
	font-size: 14px 
}
       
a:link, a:visited, a:hover {
 text-decoration: underline;
 color: #0B89E2;
}

hr { 
	border: none;  
	border-top: 1px solid #ccb; 
	margin: 2em 0;
}

address { 
	font-style: normal 
}

img { 
	border: none 
}

#Comments * {
	color: #333;
}

/* phpDocumentor */
.phpDocumentor .src-code,
.phpDocumentor .code,
.phpDocumentor ol,
/* Dokuwiki */
.dokuwiki pre.pre, 
.dokuwiki pre.code,
.dokuwiki pre.file {
	padding: .5em;
  background-color: #f5f5f5;
	border: 1px solid #ccc9a4;
	font-family: 'Monaco', 'Courier New', Courier, monospace;
}

.phpDocumentor  .src-line,
.dokuwiki code {

}

/* ######################################## */
/* Content */
/* ######################################## */          

.message {
	padding: 10px;
}
.notice {
	background-color: #FFFBCF;
	font-weight: bold;
}
.warning {
	color: red;
	background-color: #334B66;
	font-weight: bold;
}

/* ############################## */
/* Typography */
/* ############################## */


tt { white-space: pre }

:link:hover, :visited:hover { text-decoration: none; color: blue }
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
 color: inherit;
}

a.menu {
	color: #0079E2;
}

td.menu {
	padding-left: 0;
}

.left {
	font-size: 10px;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

	.desc ul {
		list-style: disc;
		padding-left: 1em;
	}

p {
	text-align: left;
}

dd {
	margin-bottom: .5em;
	margin-left: 0;
}
.small {
	font-size: 80%;
}

.anchor-highlight {
	background: yellow;
}

#index {
	padding: 18px;
}
#elementPath {
	font-size: 14px;
	font-weight: bold;
	color: #334B66;
}
.constructor {
	/*border:			dashed #334B66 1px;*/
	font-weight:		bold;
}
#credit {
	text-align: center;
	font-weight: bold;
}
#classTree {
	padding: 0px;
	margin: 0px;
}
div.indent {
	margin-left: 15px;
}            
.type {
	color: #334B66;
}
.value {
	color: #334B66;
}
.php-src, .php, .listing {
	font-family: fixed;
	padding: 3px;
	color: #334B66;
	background-color: #dddddd;
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
DIV#nav DL {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


/* Syntax highlighting */
.src-comm {
	color: green;
}
.src-id {
}
.src-inc {
	color: #0000FF;
}
.src-key {
	color: #0000FF;
}
.src-num {
	color: #CC0000;
}
.src-str {
	color: #008CFF;
}
.src-sym {
	font-weight: bold;
}
.src-var {
}
.src-php {
	font-weight: bold;
}
.src-doc {
	color: #009999
}
.src-doc-close-template {
	color: #0000FF
}
.src-doc-coretag {
	color: #0099FF;
	font-weight: bold
}
.src-doc-inlinetag {
	color: #0099FF
}
.src-doc-internal {
	color: #6699cc
}
.src-doc-tag {
	color: #0080CC
}
.src-doc-template {
	color: #0000FF
}
.src-doc-type {
	font-style: italic
}
.src-doc-var {
	font-style: italic
}

/* ############################## */
/* Layout */
/* ############################## */

.left {
	clear: left;
	float: left;
	width: 200px;
	border-right: 1px solid #aaa;
	overflow: hidden;
}

.right {
	margin-left: 210px;
}

.right ul.packages li {
	font-size: 18px;
	padding: 10px;
}

#header {
	overflow: auto;
}

	#header #logo {
		float: left;
	}

	#header ul.releases,
	#header ul.packages {
		float: right;
		margin-top: 0;
	}


ul.horizontal {
	list-style: none;
	padding-left: 0;
}

	ul.horizontal li {
		float: left;
		margin-right: 5px;
	}
	
	ul.horizontal li.current {
		font-weight: bold;
	}


/* ############################## */
/* Content */
/* ############################## */

.top,
.line,
.linenumber,
.smalllinenumber {
	display: none;
}

a.anchor {
	display: none; /* enabled by js */
}
	a.anchor:link,
	a.anchor:visited,
	a.anchor:active {
		color: #aaa;
	}
	
ul.versionList {
	clear: both;
	list-style: none;
	padding-left: 0;
	overflow: auto;
}

	ul.versionList li {
		display: block;
		float: left;
		width: 20em;
		margin: 0 1em 1em 0;
		padding-left: 0;
	}
	
	ul.versionList li a {
		display: block;
		margin-bottom: 10px;
		padding: 20px;
		border: 1px solid #aaa;
		background: #eee;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		font-size: 14px;
		font-weight: bold;
	}
	
ul.tags {
	margin-left: 0;
	padding-left: 0;
	color: #444;
	font-size: 10px;
}
	ul.tags li {
		width: 100%;
		overflow: auto;
		margin-bottom: .5em;
	}

	ul.tags p {
		margin-top: 0;
	}

	ul.tags .tagblock {
		display: block;
		float: left;
		padding: 2px;
		margin-right: .5em;
		color: #444;
		background: #eee;
	}

.members-overview {}

	.members-overview table {
		border-collapse: collapse;
	}
	
	.members-overview tr.odd {
		background: #eee;
	}

	.members-overview td {
		padding: 2px;
	}
	
.class-list-container ul,
.file-list-container ul {
	list-style: none;
	padding-left: 0;
}
	
div.row {
	clear: both;
}

.left h3,
.left h4 {
	margin-bottom: 0;
}

.member-detail {}

	.member-detail h3 {
		margin-bottom: 2px;
		border-bottom: 1px dotted #aaa;
	}
	
	.member-detail h4 {
		margin: 0;
	}
	
	.member-detail .note,
	.member-detail .note * {
		font-size: 10px;
	}
	
	.member-detail .note dl {
		margin: 0;
	}
	
ul.parameters {
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.class-overview {}

	.class-overview dt {
		float: left;
	}

p.toggle {
	margin: 1em 0 0 0;
	padding: 4px;
	background: #eee;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 12em; /* shouldnt be necessary */
}

	p.toggle a:link,
	p.toggle a:visited,
	p.toggle a:hover {
		color: #444;
		text-decoration: none;
	}

span.access-public,
span.access-protected,
span.access-private,
span.access-public-inherited,
span.access-protected-inherited,
span.access-private-inherited {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: .5em;
}
	span.access-public span,
	span.access-protected span,
	span.access-private span,
	span.access-public-inherited span,
	span.access-protected-inherited span,
	span.access-private-inherited span{
		display: none;
	}

	span.access-public {
		background: url(icon_public.gif) no-repeat;
	}
	span.access-public-inherited {
		background: url(icon_public_parent.gif) no-repeat;
	}
	span.access-protected,
	span.access-private {
		background: url(icon_protected.gif) no-repeat;
	}
	span.access-protected-inherited,
	span.access-private-inherited {
		background: url(icon_protected_parent.gif) no-repeat;
	}
	
#credit {
	font-weight: normal;
	font-size: 10px;
}

#file-list-toggle {
	float: left;
	width: auto;
}

#file-list {
	clear: left;
	display: none; /* can be toggled by js */
}