#index {
	padding: 18px;
}
dd {
	margin-bottom: .5em;
}
.small {
	font-size: 80%;
}
.middleCol {
	margin-left: -1px;
	border-right: dotted gray 1px;
	border-left: dotted gray 1px;
	padding: 5px;
}
.leftCol {
	border-right: dotted gray 1px;
	padding: 5px;
}
.rightCol {
	margin-left: -1px;
	border-left: dotted gray 1px;
	padding: 5px;
}
#elementPath {
	font-size: 14px;
	font-weight: bold;
	color: #334B66;
}
.constructor {
	/*border:			dashed #334B66 1px;*/
	font-weight:		bold;
}
#credit {
	text-align: center;
	font-weight: bold;
}
#classTree {
	padding: 0px;
	margin: 0px;
}
div.indent {
	margin-left: 15px;
}
.warning {
	color: red;
	background-color: #334B66;
	font-weight: bold;
}
.type {
	color: #334B66;
}
.value {
	color: #334B66;
}
.php-src, .php, .listing {
	font-family: fixed;
	padding: 3px;
	color: #334B66;
	background-color: #dddddd;
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
DIV#nav DL {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


/* Syntax highlighting */
.src-code {
	background-color: #f5f5f5;
	border: 1px solid #ccc9a4;
	padding: 0px; margin : 0px
}
.src-line {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}

.src-comm {
	color: green;
}
.src-id {
}
.src-inc {
	color: #0000FF;
}
.src-key {
	color: #0000FF;
}
.src-num {
	color: #CC0000;
}
.src-str {
	color: #008CFF;
}
.src-sym {
	font-weight: bold;
}
.src-var {
}
.src-php {
	font-weight: bold;
}
.src-doc {
	color: #009999
}
.src-doc-close-template {
	color: #0000FF
}
.src-doc-coretag {
	color: #0099FF;
	font-weight: bold
}
.src-doc-inlinetag {
	color: #0099FF
}
.src-doc-internal {
	color: #6699cc
}
.src-doc-tag {
	color: #0080CC
}
.src-doc-template {
	color: #0000FF
}
.src-doc-type {
	font-style: italic
}
.src-doc-var {
	font-style: italic
}