<!doctype html>
<html lang="en-NZ">
<head>
    {# NOTE: Do not put this file into the manifest.yml, as that would render it per version rather than in the base dir #}
    <title>Not Found | {{ project.config('title') }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    {% if project.config('favicon') %}
        <link rel="shortcut icon" href="{{ project.config('favicon') }}" />
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="/css/error-styles.css">
    <script>
        const allowedVersions = {{ versions|json_encode|raw }};
        // If the 404 looks like it could be for a class, redirect to the search page.
        const path = window.location.pathname;
        let version = path.replace('^\/?(\d+)\/', '$1');
        // If the version in the URL is invalid, don't try to guess one.
        // In that scenario, the 404 is for the version itself rather than for the class name.
        if (allowedVersions.includes(version)) {
            const possibleClass = path.replace(/^\/?\d+\/(.*)\.html/, '$1').replaceAll('/', '\\');
            // Class name regex from https://www.php.net/manual/en/language.oop5.basic.php and modified to account for namespaces
            if (possibleClass.match(/^[a-zA-Z_\x80-\xff][a-zA-Z0-9_\x80-\xff]*(\\[a-zA-Z_\x80-\xff][a-zA-Z0-9_\x80-\xff]*)*$/)) {
                const url = `/${version}/search.html/?search=${encodeURIComponent(possibleClass)}`;
                console.log(`Redirecting to ${url}`);
                window.location.assign(url);
            }
        }
    </script>
</head>
<body>
    <div class="gif_holder">
        <div class="color_overlay">
        <div class="text_container">
            <h2>Whoa 404, either we broke something or you had a typing mishap :-/</h2>
            <h3>Let's go back <a href="/{{ default_version }}">home.</a></h3>
        </div>
    </div>
</body>
</html>
