body {
	color: #000000;
	font: 10pt Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
td {
	vertical-align: top;
}
img {
	border: 0;
}
.Opera wbr:after {
	content: "\00200B";
}
blockquote {
	margin: 0;
	overflow: auto;
	padding: 0;
}
.Firefox1 blockquote {
	padding-bottom: .5em;
}
@media print {
	blockquote {
		overflow: visible;
	}
	.IE blockquote {
		width: auto;
	}
}
#Menu {
	background: url(ss_logo.gif) no-repeat;
	font-size: 10px;
	margin-top: 10px;
	padding: 10px 0 0 0;
	padding-top: 30px;
}
.ContentPage #Menu,
.IndexPage #Menu {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 31ex;
}
.ContentPage .Firefox #Menu,
.IndexPage .Firefox #Menu {
	width: 27ex;
}
.MTitle {
	border-bottom: 1px dotted #000000;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 5px 10px 15px 10px;
	text-align: center;
}
.MSubTitle {
	font-size: 9pt;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 1ex;
}
.MGroup {
	font-weight: bold;
	margin: 1em 0 1em 10px;
}
.MGroupContent {
	font-variant: normal;
	font-weight: normal;
}
.MFile,
 .MText,
 .MLink,
 .MIndex {
	margin: .25em 0 .25em 0;
	padding: 1px 17px 2px 10px;
}
.MText {
	font-size: 8pt;
	font-style: italic;
}
.MLink {
	font-style: italic;
}
#MSelected {
	color: #000000;
	font-weight: bold;
}
.MGroup #MSelected {
	border-left-width: 1px;
	padding-left: 9px;
}
.Firefox #MSelected {
	moz-border-radius-bottomright: 10px;
	moz-border-radius-topright: 10px;
}
.Firefox .MGroup #MSelected {
	moz-border-radius-bottomleft: 10px;
	moz-border-radius-topleft: 10px;
}
#MSearchPanel {
	margin: .25em 0;
	padding: 0px 6px;
}
#MSearchField {
	background-color: #E8E8E8;
	border: none;
	color: #606060;
	font: italic 9pt Verdana, sans-serif;
	padding: 2px 4px;
	width: 100%;
}
.Firefox #MSearchField,
 .IE #MSearchField,
 .Safari #MSearchField {
	width: 94%;
}
.Opera9 #MSearchField,
 .Konqueror #MSearchField {
	width: 97%;
}
.FramedMenuPage .Firefox #MSearchField,
 .FramedMenuPage .Safari #MSearchField,
 .FramedMenuPage .Konqueror #MSearchField {
	width: 98%;
}
#MSearchPanel.MSearchPanelInactive:hover #MSearchField {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	padding: 1px 3px;
}
.MSearchPanelActive #MSearchField {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	font-style: normal;
	padding: 1px 3px;
}
#MSearchType {
	border: 1px solid #C0C0C0;
	font: 8pt Verdana, sans-serif;
	padding: 0;
	visibility: hidden;
	width: 98%;
}
.MSearchPanelActive #MSearchType,
 #MSearchPanel.MSearchPanelInactive:hover #MSearchType,
 #MSearchType:focus {
	color: #606060;
	visibility: visible;
}
#MSearchType option#MSearchEverything {
	font-weight: bold;
}
.Opera8 .MSearchPanelInactive:hover,
 .Opera8 .MSearchPanelActive {
	margin-left: -1px;
}
iframe#MSearchResults {
	height: 15em;
	width: 60ex;
}
#MSearchResultsWindow {
	background-color: #E8E8E8;
	border: 1px solid #000000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}
#MSearchResultsWindowClose {
	display: block;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 5px;
}
#MSearchResultsWindowClose:link,
 #MSearchResultsWindowClose:visited {
	color: #000000;
	text-decoration: none;
}
#MSearchResultsWindowClose:active,
 #MSearchResultsWindowClose:hover {
	background-color: #F4F4F4;
	color: #800000;
	text-decoration: none;
}
#Content {
	padding-bottom: 15px;
	padding-left: 10px;
}
.ContentPage #Content {
	border-left: 1px solid #aaa;
	font-size: 9pt;
	margin-left: 31ex;
}
.ContentPage .Firefox #Content {
	margin-left: 27ex;
}
.CTopic {
	font-size: 10pt;
	margin-bottom: 3em;
}
.CTitle {
	border-color: #A0A0A0;
	border-style: solid;
	border-width: 0 0 1px 0;
	font-size: 12pt;
	font-weight: bold;
}
.CGroup .CTitle {
	border-color: #000000;
	border-width: 0 0 2px 0;
	font-size: 16pt;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.CClass .CTitle,
 .CInterface .CTitle,
 .CDatabase .CTitle,
 .CDatabaseTable .CTitle,
 .CSection .CTitle {
	border-bottom: 1px dotted #aaa;
	font-size: 18pt;
}
#MainTopic .CTitle {
	font-size: 19px;
}
.CToolTip {
	background-color: #FFFFE0;
	border-color: #000000;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	font-size: 8pt;
	left: 0;
	padding: 5px;
	position: absolute;
	top: 0;
	visibility: hidden;
}
.Opera .CToolTip {
	max-width: 98%;
}
.CToolTip blockquote {
	overflow: hidden;
}
.IE6 .CToolTip blockquote {
	overflow: visible;
}
.CHeading {
	font-size: 10pt;
	font-weight: bold;
	margin: 1.5em 0 .5em 0;
}
.CBody pre {
	font: 10pt "Courier New", Courier, monospace;
	margin: 1em 0;
}
.CBody ul {
	margin: .5em 5ex .5em 5ex;
	padding-left: 15px;
	padding-right: 15px;
}
.CDescriptionList {
	margin: .5em 5ex 0 5ex;
}
.CDLEntry {
	color: #808080;
	font: 10pt "Courier New", Courier, monospace;
	padding-bottom: .25em;
	white-space: nowrap;
}
.CDLDescription {
	font-size: 10pt;
	padding-bottom: .5em;
	padding-left: 5ex;
}
.CTopic img {
	display: block;
	margin: 1em auto;
	text-align: center;
}
.CImageCaption {
	color: #808080;
	font-size: 8pt;
	position: relative;
	text-align: center;
	top: 1em;
}
.CImageLink {
	color: #808080;
	font-style: italic;
}
a.CImageLink:link,
 a.CImageLink:visited,
 a.CImageLink:hover {
	color: #808080;
}
.Prototype {
	border-style: solid;
	border-width: 1px;
	margin: 0 5ex 1.5em 5ex;
	padding: 5px 3ex;
}