html {
    margin: 0;
    background: #eff1f2;
    max-height: 100%;
    overflow-x: hidden;
}

a {
    color: #0973A6;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

body.has-ss-globaltoolbar {
    padding-top: 84px;
}

.navbar.navbar-fixed-top {
    position: relative;
    top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

header {
    margin-bottom: 0;
    background-color: #f5f5f5;
}

#navWrapper .gsc-input input.gsc-input {
    line-height: 100%;
    font-size: 32px;
    height: auto;
}

.navbar-inner {
    border-top: 1px solid #444;
}

#splitter {
    background-color: #dfdfdf;
}

#comments {
    padding: 5px 15px;
}

#menu {
    padding: 0 10px 10px;
}

#menu a:hover {
    background-color: #0973A6;
}

#versions {
    padding: 10px;
}

.navbar .nav > li > span {
    color: #555; /* cannot click this */
}

#right {
    background: #fff;
}

.elementList {
    line-height: 21px;
    font-size: 12px;
}

.elementList code {
    padding: 0 4px;
}

.well dd img {
    opacity: 0.3;
}

@media screen and (max-width: 710px) {
    html {
        max-height: auto;
    }

    #left {
        position: static;
        width: auto !important;
        overflow: visible;
        height: auto !important;
        border-bottom: 1px solid #dfdfdf;
    }

    #menu #groups,
    #menu #elements {
        display: none;
    }

    #splitter {
        display: none;
    }

    #right {
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        position: static;
        overflow: hidden;
    }

    table {
        margin-bottom: 0;
    }

    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 40%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
    }

    .pinned table th, .pinned table td {
        white-space: nowrap;
    }

    .pinned td:last-child {
        border-bottom: 0;
    }

    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 1px solid #ccc;
    }

    div.table-wrapper div.scrollable {
        margin-left: 40%;
    }

    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }

    table td, table th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

    .scrollable th:first-child, .scrollable td:first-child, .scrollable td:first-child, .pinned td {
        display: none;
    }

    .pinned table td:first-child {
        display: table-cell;
        text-align: left;
    }

}

/* Override bootstrap themes */
.navbar-inverse,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
    background-image: none;
}

/* Override sami.css */
#left-column,
#right-column {

}

#right-column {
    position: fixed;
    height: 100%;
    width: 80%;
    right: 0;
    overflow: scroll;
}
