# Mask to exclude file or directory from processing
exclude: ['*/tests/*', '*/thirdparty/*', '*/lang/*', '*/examples/*']

# Grouping of classes
groups: packages

# List of allowed HTML tags in documentation
allowedHtml: [b, i, a, ul, ol, li, p, br, var, samp, kbd, tt, h1, h2, h3]

# Element types for search input autocomplete
autocomplete: [classes, constants, functions, methods]

# Generate documentation for deprecated classes, methods, properties and constants
deprecated: Yes

templateConfig: templates/config.neon

googleAnalytics: UA-84547-9

download: yes