# This file needs to be here in order for the redirect from the root .htaccess to work
# Also the /static/ dir needs at least one file commited to the repo in order for the symlink created by
# the shared_dirs config in .platform.yml to work
RewriteEngine On
