RewriteEngine On

# "Symlink" a "current" folder to the latest release
RewriteRule ^current/?(.*)? /3.3/$1 [R=301]

# "Symlink" the root to the latest release (with "moved temporarily")
RewriteRule ^/?$ /3.3/ [R=302,L]

# Lookup script (used to be a SS app, now just a simple script)
RewriteCond %{REQUEST_URI} !^/search/lookup\.php
RewriteRule ^search/lookup /search/lookup.php [L,R=301,QSA]

# Rewrite PHPDocumentor links for apigen
RewriteCond %{REQUEST_FILENAME} !^class-
RewriteRule ^/?(trunk|[23]\.[0-9])/.*/(.+)\.html$ /$1/class-$2.html [R=301]

# Rewrite trunk to master
RewriteRule ^/?trunk/(.*) /master/$1 [L,R=301]
